@model IEnumerable<ShopBanHoa.Models.DonDatHang>

@{
    ViewBag.Title = "DonHangHuy";
    Layout = "~/Views/Layout/Layout_Admin.cshtml";
}

<div class="table-responsive">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ngày Đặt</th>
                <th scope="col">Tên Khách</th>
                <th scope="col">Địa Chỉ</th>
                <th scope="col">Số ĐT</th>
                <th scope="col">Tổng Tiền</th>
                <th scope="col">Trạng Thái</th>

                <th scope="col">Xem</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="col">@string.Format("{0:dd/MM/yyyy HH:mm:ss}", item.NgayDatHang)</td>

                    <td scope="col">@item.TenKhachHang</td>
                    <td scope="col">@item.DiaChiGiaoHang</td>
                    <td scope="col">@item.SoDienThoai</td>
                    <td scope="col">@item.TongGiaTriDonHang</td>
                    <td scope="col">@item.TrangThaiDonHang</td>
                    <td scope="col"><a href="@Url.Action("AD_XemChiTietDonHang", "AD_Home", new {ma=@item.MaDonHang })"><i class="bi bi-card-list"></i></a></td>

                </tr>

            }

        </tbody>
    </table>
</div>
@{
    int PrevPage = ViewBag.Page - 1;
    if (PrevPage <= 0)
    {
        PrevPage = 1;
    }
    int NextPage = ViewBag.Page + 1;
    if (NextPage > ViewBag.NoOfPages)
    {
        NextPage = ViewBag.NoOfPages;
    }
}
@*<div class="phantrang" style="border:1px solid;margin-bottom:300px"></div>*@
<ul class="ulphantrang">
    @if (PrevPage > 0)
    {
        <li>
            <a href="@Url.Action("AD_DonHangDaThanhToan", "AD_Home", new { page=@PrevPage})"><<</a>
        </li>

    }

    @for (int i = 0; i < ViewBag.NoOfPages; i++)
    {
        if (i + 1 == ViewBag.Page)
        {
            <li>
                <a href="@Url.Action("AD_DonHangDaThanhToan", "AD_Home", new { page = @i + 1 })">@(i + 1)</a>
            </li>
        }
        else
        {
            <li>
                <a href="@Url.Action("AD_DonHangDaThanhToan", "AD_Home", new { page = @i + 1 })">@(i + 1)</a>
            </li>
        }
    }

    @if (NextPage <= ViewBag.NoOfPages)
    {
        <li>
            <a href="@Url.Action("AD_DonHangDaThanhToan", "AD_Home", new { page = @NextPage })">>></a>
        </li>
    }
</ul>

